<h1>Dish</h1>
<h3>Dish Name: <%= @dish.name %></h3>
<h3>Description: <%= @dish.description %></h3>
<% @dish.ingredients.each do |ingredient| %>
  <ul><%= ingredient.name %>
  <li>Calories: <%= ingredient.calories.to_i %></li></ul>
<% end %>
<h2>Chef: <%= @dish.chef.name %></h2>

<%= form_with url: dish_path(@dish), local: true, method: :patch do |form| %>
      <%= form.label :id %>
      <%= form.text_field :id %>
      <%= form.submit "Add My Ingredient" %>
    <% end %>